:root {
  --primary-color: #CCD97F;
  --secondary-color: #E7F68F;
  --third-color: #F3FCC7;
  --fourth-color: #D5F6E5;
  --background-color: #FFFFFF;
  --back-color: #f8f8f8;
  --border-color: #eff3f2;
  --primary-text-color: #000000;
  --secondary-text-color: #666666;

  --border-width: 8px;
}

body {
  margin: 0;
  background-color: var(--back-color);
  color: var(--primary-text-color);
  font-family: "Hanuman", serif;
  font-optical-sizing: auto;
  font-style: normal;
}

#app{
}


.card {
  position: relative;
  background-color: var(--background-color);
  border-radius: var(--border-width);
  padding: 20px;
}
.card p{
  margin: 0;
}

.button {
  background-color: var(--back-color);
  color: var(--primary-text-color);
  border: none;
  border-radius: var(--border-width);
  padding: 10px;
  cursor: pointer;
  display: flex;
  gap: 10px;
  align-items: center;
  justify-content: center;
  font-size: 24px;
  transition: background-color 0.3s ease;
}
.button p{
  margin: 0;
}

.button:hover {
  background-color: var(--fourth-color);
}
.button:active {
  background-color: var(--third-color);
}

.selected {
  background-color: var(--secondary-color);
}



.app-border{
  position: fixed;
  top: 0;
  left: 0;
  width: calc(100vw - var(--border-width) * 2);
  height: calc(100vh - var(--border-width) * 2);
  border: var(--border-width) solid var(--border-color);
  border-radius: calc(var(--border-width) * 2);
  pointer-events: none;
  z-index: 9999;
}

.flex {
  display: flex;
  gap: 10px;
}