:root {
  --primary-color: #CCD97F;
  --secondary-color: #E7F68F;
  --third-color: #F3FCC7;
  --fourth-color: #D5F6E5;
  --background-color: #FFFFFF;
  --back-color: #f8f8f8;
  --border-color: #d2d9e3;
  --primary-text-color: #000000;
  --secondary-text-color: #4b4b4b;
  --negative-color: #ffaaaa;  

  --border-width: 8px;
}

body {
  margin: 0;
  background-color: var(--back-color);
  color: var(--primary-text-color);
  font-family: "Hanuman", serif;
  font-optical-sizing: auto;
  font-style: normal;
}

#app{
}


.card {
  position: relative;
  background-color: var(--background-color);
  border-radius: var(--border-width);
  padding: 20px;
}
.card p{
  margin: 0;
}

.button {
  background-color: var(--back-color);
  color: var(--primary-text-color);
  border: none;
  border-radius: var(--border-width);
  padding-left: 10px;
  padding-right: 10px;
  padding-top: 2px;
  cursor: pointer;
  display: flex;
  gap: 10px;
  align-items: center;
  justify-content: center;
  font-size: 24px;
  transition: background-color 0.3s ease;
  width: fit-content;
}
.button p{
  margin: 0;
}

.button:hover {
  filter: brightness(1.2);
}
.button:active {
  background-color: var(--third-color);
}

.selected {
  background-color: var(--secondary-color);
}
.negative {
  background-color: var(--negative-color);
}
.focus {  
  background-color: var(--third-color);
}



.app-border{
  position: fixed;
  top: 0;
  left: 0;
  width: calc(100vw - var(--border-width) * 2);
  height: calc(100vh - var(--border-width) * 2);
  border: var(--border-width) solid var(--border-color);
  border-radius: calc(var(--border-width) * 2);
  pointer-events: none;
  z-index: 9999;
}

.flex {
  display: flex;
  gap: 10px;
}
.colomn {
  flex-direction: column;
  gap: 10px;
}
.center {
  align-items: center;
  justify-content: center;
}
.input{
  background-color: var(--fourth-color);
  border-radius: 8px;
  border: none;
  padding: 3px;
}
.input:focus-visible{
  outline: none;
  box-shadow: 0 0 0 2px var(--primary-color);
}